.spinner {
    pointer-events: none;
    position: relative;
}

.spinner::after {
    animation: spinAround 700ms infinite linear;
    border: 2px solid #dae1e7;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
    will-change: transform;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.spinner-inherit {
    @apply spinner;
}

.spinner-inherit::after {
    animation: spinAround 700ms infinite linear;
    border: 2px solid;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: currentColor;
    border-left-color: currentColor;
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
    position: absolute !important;
    will-change: transform;
}
