<ul class="list-reset h-full w-full flex flex-col items-center pt-4">
  <li>
    <a href="/" title="Back to MyVirtualSuper">
      {{svg-jar 'reply' class='h-6 w-6 fill-current text-white block'}}
    </a>
  </li>
</ul>